<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EnviroNotify - Stay Informed About Your Environment</title>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<nav>
    <a asp-action="Index" asp-controller="Home">Charts</a>
    <a asp-action="Subscribe" asp-controller="Home">Subscribe notifications</a>
</nav>
@RenderBody()
<script src="scripts.js"></script>
@await RenderSectionAsync("Scripts", required: false)
<ejs-scripts></ejs-scripts>
</body>

</html>

