<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EnviroNotify - Stay Informed About Your Environment</title>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/24.1.41/material.css" />
    <script src="https://cdn.syncfusion.com/ej2/24.1.41/dist/ej2.min.js"></script>
</head>

<body>
    @RenderBody()
    <script src="scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>

</html>

