<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EnviroNotify.Dashboard - Stay Informed About Your Environment</title>
    <link rel="manifest" href="manifest.json">
</head>

<body>
    @RenderBody()
<script src="scripts.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>

</html>

